.container {
    max-width: 1100px;
    padding: 0 5rem;
    margin: 0 auto;
    overflow: auto;
}

.intro {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    color: darken($tertiary-color, 5%);
    border-bottom: 3px solid darken($tertiary-color, 5%);
    width: 100%;
}

.zoom {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s; 
}

.zoom:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

// margin & padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .m-#{$space} {
        padding: #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}