@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0A122A;
  font-family: "Heebo", Arial, sans-serif;
  line-height: 1.6;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 4rem;
  background-color: rgba(199, 249, 204, 0.8);
}
header h1 {
  display: inline;
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
  color: #38A3A5;
}
header a {
  text-decoration: none;
  color: #38A3A5;
  display: inline;
}
header nav {
  float: right;
  margin: 1rem;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
  background: #38A3A5;
  color: #C7F9CC;
  border-radius: 5rem;
  text-shadow: none;
}

#about-me {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}
#about-me article {
  margin: 5rem;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  font-size: 1.3rem;
}
#about-me main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#about-me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #BBB5BD;
}
#about-me p {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-fun-facts {
  line-height: 1.2;
  color: var(--text-color);
  background-color: rgba(199, 249, 204, 0.8);
  border: 3px solid var(--secondary-color);
  box-shadow: 0 0 10px;
  border-radius: 15px;
  max-width: 100%;
  margin: 3.5%;
}
.hero-fun-facts h3 {
  font-size: 1.5rem;
  padding: 1rem;
  color: #0A122A;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.hero-fun-facts p {
  font-size: 1px;
  font-weight: light;
  margin: 2rem;
}

#projects {
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
#projects p {
  font-size: 1.3rem;
}
#projects img {
  width: 40rem;
  border: solid 3px #BBB5BD;
  border-radius: 15px;
}
#projects .card {
  align-items: center;
  margin: 2rem;
  background-color: rgba(199, 249, 204, 0.7);
  width: 45rem;
}

#contact {
  background-image: url(../images/background3.jpg);
  background-size: cover;
  background-position: center;
}
#contact ul li {
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
  list-style: none;
}
#contact ul li a {
  text-decoration: none;
  margin: 1rem;
}
#contact .card {
  background-color: rgba(199, 249, 204, 0.7);
}

.container {
  max-width: 1100px;
  padding: 0 5rem;
  margin: 0 auto;
  overflow: auto;
}

.intro {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  color: #b0f7b7;
  border-bottom: 3px solid #b0f7b7;
  width: 100%;
}

.zoom {
  transition: transform 0.4s;
}

.zoom:hover {
  transform: scale(1.3);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.m-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.m-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.m-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.m-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.m-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}/*# sourceMappingURL=style.css.map */