* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #38A3A5;
    --secondary-color: #BBB5BD;
    --tertiary-color: #C7F9CC;
    --text-color: #0A122A;
}

body {
    font-family: 'Heebo', Arial, sans-serif;
    color: var(--text-color);
}

section {
    padding: 60px;
}

/* hearder start */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
}

header h1 {
    display: inline;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    display: inline;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 26px;
}

/* hero/about me start */

.hero {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}

.hero-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.hero-content h2 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 48px;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
    width: 30%;
    margin: 0 auto;
}

.hero-content article {
    text-align: center;
    line-height: 1.5;
    font-size: 26px;
    padding: 30px 50px;
}

.hero-fun-facts {
    line-height: 1.5;
    color: var(--text-color);
    background-color: rgba(199, 249, 204, 0.8);
    border: 3px solid var(--secondary-color);
    box-shadow: 0 0 10px;
    border-radius: 15px;
    width: 40%;
    margin: 3.5%;
}

.hero-fun-facts h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.hero-fun-facts ul {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 0px 0 40px 120px;
}

.hero-fun-facts li {
    list-style: none;
}

/* projects section start */

#projects {
    background-color: var(--secondary-color);
}

.project-cards {
    padding: 20px;
    justify-content: space-around;
}

.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 30%;
    font-size: 48px;
    color: var(--tertiary-color);
    border-bottom: 3px solid;
}

/* footer start */

#special-thanks {
    padding: 0px;
}

.footer {
    width: 100%;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
}

.footer h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 20px 35px;
}

.footer p {
    font-size: 22px;
    font-weight: lighter;
    padding: 0 0 30px 0;
}

/* footer end */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}